.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: 'Default';
  font-family: Helvetica, Arial, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="sans-serif"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="sans-serif"]::before {
  content: 'Sans Serif';
  font-family: Helvetica, Arial, sans-serif;
}

.ql-font-sans-serif {
  font-family: Helvetica, Arial, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="serif"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="serif"]::before {
  content: 'Serif';
  font-family: 'Times New Roman', Times, serif;
}

.ql-font-serif {
  font-family: 'Times New Roman', Times, serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="monospace"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="monospace"]::before {
  content: 'Monospace';
  font-family: 'Courier New', Courier, monospace;
}

.ql-font-monospace {
  font-family: 'Courier New', Courier, monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="arial"]::before {
  content: 'Arial';
  font-family: Arial, Helvetica, sans-serif;
}

.ql-font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="georgia"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="georgia"]::before {
  content: 'Georgia';
  font-family: Georgia, serif;
}

.ql-font-georgia {
  font-family: Georgia, serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="times-new-roman"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="times-new-roman"]::before {
  content: 'Times New Roman';
  font-family: 'Times New Roman', Times, serif;
}

.ql-font-times-new-roman {
  font-family: 'Times New Roman', Times, serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="tahoma"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="tahoma"]::before {
  content: 'Tahoma';
  font-family: Tahoma, Geneva, sans-serif;
}

.ql-font-tahoma {
  font-family: Tahoma, Geneva, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="verdana"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="verdana"]::before {
  content: 'Verdana';
  font-family: Verdana, Geneva, sans-serif;
}

.ql-font-verdana {
  font-family: Verdana, Geneva, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="courier-new"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="courier-new"]::before {
  content: 'Courier New';
  font-family: 'Courier New', Courier, monospace;
}

.ql-font-courier-new {
  font-family: 'Courier New', Courier, monospace;
}
